h1 {
    margin-bottom: 20px;
    font-size: 2rem;

}
h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

body {
    text-align: center;
    margin:0;
    padding: 0;
   height: 100vh;
   flex-direction: column;
   display: flex;
   justify-content: center;
   align-items: center;
    
}

.btn {
    height: 150px;
    width: 150px;
    border-radius: 20%;
    margin: 2.5rem;
    border: 10px solid black;
   

}

.btn-container {
   display: grid;
   grid-template-columns: repeat(2,200px);
   grid-template-rows: repeat(2,200px);
   gap: 90px;
    justify-content: center;
  

}

.red {
    background-color: #d95980;
}
.yellow {
    background-color: #f99b45;
}
.green {
    background-color: #63aac0;
}
.purple {
    background-color:#819ff9;
}

.flash {
    background-color: white;
}

.userflash {
   background-color: chartreuse;
}